body{
	height: 100%;
	background: url(../login/img/bg_9b9dcb65ff.png) center;
	font-size: 1.5em;
}
.container {
	width: 50%;
	height: 500px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

label.error {
	color: red;
	float: right;
}
.form-group{
	margin-top: 20px;
}
